.hero {
  background-image: './Users/daniela/Development/projects/Alchemy/src/assets/drinks-jars.jpg';
  background-size: cover;
  background-repeat: repeat;
  height: 800px;
}
// Photo by Kaizen Nguyễn on Unsplash
